<navbar #barraTienda ></navbar>
  <div class="row justify-content-center">
    <!-- añadir responsive col-**-num -->
    <h1>Tiendas</h1>
  </div>
<!--
<div class="container">
  <div class="row justify-content-end">
    <div class="col-lg-8 d-inline-flex p-2 bd-highlight">
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary mb-2" [routerLink]="['/principal/tiendas/nuevaTienda']">Nueva Tienda</button>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary mb-2">Editar</button>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary mb-2">Eliminar</button>
      </div>
    </div>
  </div>
</div>-->
<!--
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-8">
      <table class="table table-striped text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Distrito</th>
            <th scope="col">Seleccionar</th>
          </tr>
        </thead>
        <tbody class="bg-secondary">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <input type="checkbox" class="form-check-input" id="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->
<div class="container">
    <div class="row justify-content-end">
        <div class="">
            <button type="" class="btn bg-success" [routerLink]="['/tiendas/nuevaTienda']">Nueva Tienda</button>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" *ngFor="let tienda of tiendas">
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text"><label>DIRECCIÓN:</label> {{tienda.direccion}}</p>
            <p class="card-text"><label>REFERENCIA:</label> {{tienda.referencia}}</p>
            <p class="card-text"><label>TELEFONO:</label> {{tienda.telefono}}</p>
            <a [routerLink]="['/tienda/editar', tienda.idTienda]" class="btn btn-warning">Editar</a>
            <a (click)="onEliminarTienda(tienda.idTienda)" class="btn btn-danger" >Eliminar</a>
        </div>
    </div>
  </div>  
</div>
