<navbar #barraPrincipal></navbar>

  <div class="row justify-content-center">
    <!-- añadir responsive col-**-num -->
    <h1>Permisos</h1>
  </div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-8">
      <table class="table table-striped text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Empleado</th>
            <th scope="col">Rol</th>
            <th scope="col">Tienda</th>
            <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody class="bg-secondary">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <a href="" class="">Ver</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>