h1{
    background-color:rgb(181, 185, 185);
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 28px;
    width : 100%;
    margin: 0px;
    width:100%;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
  }
